/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(#F9FAFB,#D2D6DB) ;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.card-container {
  margin-top: 200px;
  margin-bottom: auto;
}

.card {
  background-color: #ffffff;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  border-radius: 8px;
}

.card-flex {
  display: flex;
  /* justify-content: center; */
}

.card-pic {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 43px;
  padding-left: 2px;
}

.card-userName {
  padding-left: 16px;
}
.card-userPrimaryName {
  font-size: 18px;
  font-weight: bold;
}

.card-userHandle {
  font-size: 14px;
  color: #525252;

}

.card-userAbout {
  font-size: 16px;
  margin-top: 16px;
  color: #525252;
}
